<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrAplicacionFinal.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PrAplicacionFinal.My.MySettings.GFacHojillaConnectionString"
            connectionString="Data Source=DESKTOP-81AD8RM;Initial Catalog=GFacHojilla;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PrAplicacionFinal.My.MySettings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </PrAplicacionFinal.My.MySettings>
    </userSettings>
</configuration>